blinker
bottle
bottle-websocket
certifi
cffi
charset-normalizer
click
colorama
Eel
Flask
future
gevent
gevent-websocket
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
pycparser
pyparsing
pyzbar
requests
urllib3
Werkzeug
whichcraft
zope.event
zope.interface
gunicorn